@import url('https://fonts.googleapis.com/css?family=PT+Sans');


:root{
 --primary-color:#b90415;
 --primary-color-hover:#d3071b;
 --light-color:#f4f4f4;
 --secondary-color:#103063;
 --secondary-color-hover:#143f85;

}


body {
  font-family: 'PT Sans Narrow', sans-serif;
  background-color: #252529;
  color: #fff;
  line-height: 1.6;
}
img{
  width: 100%;
}

.section{
  padding: 0;
  font-size: 2.5rem;
}
.section h3{
  font-size: 2rem;
}
.section-head{
  font-size: 4rem;
}

section#entertaiment{
  background: url(../images/pexel.jpeg) no-repeat center/cover;
  padding: 10rem 10rem;
}

a{
  font-size: 1.2rem;
  text-decoration: none;
  color: #333;
  padding-bottom: 0.5rem;
}

.btn{
 padding: 1rem;;
 color: #fff;
 display: inline-block;
 margin-top: 2rem;
 margin-bottom:2.5rem;
}

.btn-primary{
  background: var(--primary-color);
}
.btn-primary:hover{
  background: var(--primary-color-hover);
}
.btn-secondary{
  background: var(--secondary-color);
}

.btn-secondeary:hover{
  background: var(--secondary-color-hover);
}
.gift-card{
  padding: 5rem 5rem;
}
.cards{
 max-width:1000px;
}

#showcase{
  margin:0;
  padding: 0%;
 background: url('../images/showcase.jpg') no-repeat center/cover; 
 width: 100%;
 height: 100vh;
 position: relative;
 overflow-y: hidden;
}
#showcase.container{
  margin-top: 25vh;
}

#showcase h1{
  font-size: 5rem;
  margin-top: 25vh;
  margin-bottom: 0;
  
}

.bg-color{
  background: var(--light-color);
  color:#333;
}
.container {
  max-width: 1180px;
  text-align: center;
  margin: 0 auto;
  padding: 0 3rem;
}

.lead {
  font-size: 1.3rem;
}

.text-center {
  text-align: center;
}
nav {
  height: 40px;
  width: 100%;
  background-color: #333;
  color: #eee;
  position: relative;
}  
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  float: left;
}
nav a {
  display: inline-block;
  width: 100px;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
  color: #eee;
  text-decoration: none;
  
}
nav li:hover {
  background-color: #444;
}
nav a#openup {
  display: none;
}

@media screen and (max-width: 580px) {
  h1 {
    font-size: 2.8em;
  }

  nav {
    height: auto;
    border-bottom: 0;
  }
  nav ul {
    display: none;
    height: auto;
  }
  nav li {
    width: 100%;
    float: left;
    position: relative;
  }
  nav a {
    text-align: left;
    width: 100%;
    text-indent: 25px;
    background: #333;
    border-bottom: 1px solid #555;
  }
  nav a:hover {
    background: #444;
  }
  nav a#openup:after {
    content: "|||";
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Safari and Chrome */
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 20px;
  }
  nav a#openup {
    display: block;
    background-color: #333;
    width: 100%;
    position: relative;
  }
}
.cf:before, .cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
